
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}


/* .menu {
  float: left;
  width: 20%;
  text-align: center;
} */

.sidebar{
  position: absolute; 
  left: -250px;
  width: 250px;
  height: 315%;
  background-color: #042331;
  transition: all .5s ease;

}


.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #063146;
  user-select: none;
}



.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: .4s;
}


ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px;
}

#check{
  display: none;
}

label #btn, label #close{
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}

label #btn{
  left: 40px;
  top: 150px;
  font-size: 35px;
  color: #0a5275;
  padding: 6px 12px;
  transition: all .5s ease;
}


label #close{
  z-index: 1111;
  left: -195px;
  top: 150px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}


#check:checked ~ label #close{
  left: 195px;
}


#check:checked ~ section{
  margin-left: 250px;
}


section{
  
  background: url('./assets/Background.jpg') no-repeat;
  background-position:center top;
  
  background-size: 1100px 500px;
  height: max-content;
  /* width: auto; */
  transition: all .5s;
}


.registration{
  background: url('https://mcnaughty.github.io/Phase1Project-GamersSpot/assets/Background.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  /* width: auto; */
  transition: all .5s;
}


.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: 70px;
  position: relative;
  /* float: left; */
  width: 60%;
  padding: 0 50px;
}

.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}


#searchbox {
	top: 0px;
	left: 142px;
	width: 208px;
	height: 28px;
  /* margin-right: 70px; */
	border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:white;
}
 

#searchicon {
	top: 6px;
	left: 568px;
	width: 21.86px;
	height: 21.86px;
}

/* <!-- FORM CSS --> */

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: #0a5275;
  transition: all .5s;
}

.containerList {
  /* display: block; */
  margin-left: 55px;
  margin-right: auto;
  position: relative;
  /* max-width: max-content; */
  width: 95%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: transparent;
  transition: all .5s;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}


/* table elements */

.outer-wrapper {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  /* max-width: fit-content; */
  max-width: 1200px;
  max-height: fit-content;

  
}
.table-wrapper {

  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;
  max-width: 1200px;
  margin-top: 10px;
  
  margin: 15px;
  padding-bottom: 20px;
  
}


table {
  
  /* min-width: max-content; */
  table-layout: fixed;
  width: 950px;
  border-collapse: separate;
  border-spacing: 0px;  
  margin-left: auto;
  margin-right: auto;

  
}

.tableFilter {
  border-radius: 5px;
  width: 70px;
}

table th{
  position: sticky; 
  top: 0px;
  width: 100px;
  background-color: #133b5c;
  color: rgb(241, 245, 179);
  
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  outline: 0.7px solid black;
  border: 1.5px solid black;

} 



table th, table td {
  
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

table td {
  text-align: left;
  width: 50px;
  font-size: 15px;
  border: 1px solid rgb(177, 177, 177);
  padding-left: 20px;
  /* word-break: break-all; */
  word-wrap: break-word;
  
}

table img{
	width:  70%;
}
